@font-face {
    font-family: Gilroy;
    src: url(fonts/gilroy-regular.ttf);
}

h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: 'Gilroy';
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    flex-wrap: wrap;
    background-color: #5e4331;
}

nav a {
    margin: 25px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

nav article {
    padding: 10px 0px;
}

.logo {
    font-size: 22px;
    text-transform: uppercase;
}

body {
    background-image: url(/style/img/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
}

.title {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-section img {
    height: 15rem;
    width: 25rem;
    border-radius: 50px;
    margin-top: 20px;
    border: 4px solid #5e4331;
    margin: 20px;
}

.container-ms {
    text-align: center;
    font-size: 18px;
    background-color: #e0c2a3;
    border-radius: 50px;
}

.header-ms {
    background-color: #5e4331;
    padding: 20px 0px;
    color: white;
    border-radius: 50px;
}

.footer-ms {
    width: 700px;
    padding: 20px 20px;
    line-height: 30px;
}

.reviews {
    margin-top: 100px;
}

.reviews div {
    width: 300px;
    background-color: #5e4331;
    color: white;
    text-align: center;
    border-radius: 50px;
}

.reviews img {
    margin-top: 10px;
    scale: 0.8;
}

.item {
    padding-inline: 10px;
    display: flex;
    background-color: #e0c2a3;
    width: 450px;
    height: 300px;
    margin: 50px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.reviews-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.reviews-item div {
    display: flex;
}

.item img:nth-child(1) {
    scale: 1.2;
}

.item img:nth-child(4) {
    scale: 0.8;
}

.section-grill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-grill div {
    margin: 10px 20px;
}

.wrapper-grill {
    display: flex;
    width: 600px;
    background-color: #5e4331;
    border-radius: 20px;
    padding: 20px 20px;
    font-size: 16px;
}

.wrapper-left {
    width: 80%;
}

.wrapper-left div {
    margin: 20px 0px;
}

.wrapper-grill img {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

.description-grill {
    background-color: #e0c2a3;
    border-radius: 20px;
    padding: 10px 10px;
}

.cost-grill {
    background-color: #e0c2a3;
    border-radius: 20px;
    padding: 10px 10px;
    width: 100px;
    text-align: center;
}

footer {
    height: 100px;
    background-color: #5e4331;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
    align-items: center;
}

input, textarea {
    border-radius: 10px;
    background-color: #5e4331;
    color: #fff;
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    padding: 5px;
    border: 2px solid whitesmoke;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: rgb(182, 182, 182);    
}

textarea {
    resize: none;
    height: 150px;
}


@media (max-width: 480px) {
    nav a {
        margin: 5px;
    }

    .footer-ms {
        width: 350px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 50px;
        margin-top: 41.5px;
    }

    .wrapper-grill {
        width: calc(100% - 20px);
    }

    .wrapper-grill {
        display: flex;
        flex-direction: column;
    }

    .wrapper-left {
        width: 100%;
    }

    .section-grill {
        display: flex;
        flex-direction: column;
    }

    .section-grill div {
        margin: 10px 0px;
    }
}

@media (max-width: 1200px) {
    .container-ms {
        width: calc(100% - 30px);
    }

    .footer-ms {
        width: calc(100% - 30px);
    }

    .reviews div {
        width: calc(100% - 20px);
    }

    .wrapper-grill {
        width: calc(100% - 20px);
    }

    .section-grill {
        display: flex;
        flex-direction: column;
    }

    .wrapper-grill {
        font-size: 18px;
    }
    
    .section-grill div {
        margin: 10px 0px;
    }

    input, textarea {
        width: calc(100% - 10px);
    }

}
